<tui-root class="container mx-auto">
  <header>
    <tui-app-bar>
      <div class="flex">
        Stay hydrated bar
        <tui-icon
          icon="@tui.material.filled.local_bar"
          [style.color]="'var(--tui-text-primary)'"
        />
      </div>
    </tui-app-bar>
  </header>
  <div class="menu-list">
    <div class="m-5 flex justify-center">
      <button
        size="m"
        tuiButton
        type="button"
        (click)="showDialog()"
      >
        Мне повезет
      </button>
    </div>

    <ng-container *ngFor="let item of items">
      <div
        tuiCardLarge
        tuiSurface="elevated"
        class="item m-5"
        [style.gap]="'0.25rem'"
      >
        <span tuiTitle>{{ item.name }}</span>
        <span tuiSubtitle [style.color]="'var(--tui-text-secondary)'">{{ item.composition }}</span>
      </div>
    </ng-container>
  </div>

</tui-root>
<!--
<div class="flex flex-col h-full p-2 place-content-center">
  <h1 class="flex items-center place-content-center tui-text_h1 mb-6">
    <span>BuhloPark</span>
    <tui-icon
      class="tui-text_h1"
      icon="@tui.material.filled.local_bar"
      [style.color]="'var(--tui-text-primary)'"
    />
  </h1>
  <tui-carousel
    [(index)]="index"
    [duration]="0"
  >
    <ng-container *ngFor="let item of items">
      <div
        *tuiItem
        tuiCardLarge
        tuiSurface="elevated"
        class="item m-5"
      >
        <h2 class="tui-text_h2 text-center">{{ item.name }}</h2>
        &lt;!&ndash; TODO: update documentation here &ndash;&gt;
        <img ngSrc="{{item.url}}" alt="Изображение {{item.name}}" width="500" height="500">
        <span>{{ item.composition }}</span>
      </div>
    </ng-container>
  </tui-carousel>
  <tui-pagination
    size="s"
    class="pagination"
    [length]="items.length"
    [(index)]="index"
  />
</div>-->
